@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body{
	background: url('/assets/imgs/bg-landing.jpg') top center no-repeat;
	background-size: cover;
	display: table;
    width: 100%;
}



a{ color: inherit !important; }

.top-bar{
	padding: 0px 0px;
	color: white;
	background-color: white;
}

.top-bar li{
	padding: 10px 10px;
}

.top-bar li a{
	color: #58698F;
}

.login_btn {
    color: #000;
    background-color: #ffdf00;
    width: 120px;
    padding: 10px 15px;
    box-shadow: 0 10px 30px -10px rgba(255,223,0,.61);
    margin: 10px;
    border-radius: 30px;
    border: none;
}

.login_btn:hover{
	background-color: #ffbc00;
}



.card{ margin-bottom: 24px; border:none !important; position: relative; }

.hover-card{
	background-color: rgba(7, 232, 255, 1);
	opacity: 0;
	position:
	absolute;
	width: 100%;
	height: 100%;
	transition: all ease-in-out .2s;
}

.card:hover .hover-card{ opacity: 0.3; }

.divider-paper-white{
	width: 100%;
	position: relative;
	height: 100px;
	background-image: url('/assets/imgs/divider-paper.png');
	background-size: contain;
	top: -50px;
}

.divider-paper-white.top{
	top: 50px;
}


section.services{
	margin-top: 0px;
	background-color: white;
	padding: 60px 0px 120px;
}

section.services h2{
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 94.5%;
	margin-bottom: 40px;
	color: #58698F;
	max-width: 656px;
	font-family: 'Ubuntu', sans-serif;
}


section.stories{
	padding: 120px 0px 200px;
}

section.stories .title-stories{
	width: 261.65px;
	height: 94.49px;
	margin: auto;
	background: url('/assets/imgs/title-nuevashistorias.png') center center no-repeat;
	background-size: contain;
	text-indent: -9999px;
	display: block;
}

section.stories .stories-content {
	margin-bottom: 40px;
}

section.about{
	background-color: #564BD3;
	padding-bottom: 300px;
	color: white;
	padding: 120px 0px 300px;
}

section.about h4{
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 98.5%;

	text-align: center;
	letter-spacing: -0.04em;

	color: #FFFFFF;
}

section.about figure{
	text-align: center;
    margin-bottom: 50px;
    margin-top: -10px;
}

section.about p{
	font-style: normal;
	font-size: 16px;
	line-height: 30px;
    font-weight: 500;
	color: #FFFFFF;
}

section.winners{
	padding: 60px 30px;
	max-width: 90%;
	margin: auto;
	background-color: white;
	margin-top: -100px;
	position: relative;
	z-index: 10;
}


footer{
	padding: 220px 0px 120px;
	background-color: #2E3468;
	color: white;
	margin-top: -100px;
}

footer i{ font-size: 30px; color: rgba(255,255,255,1);}
footer i:hover{ color: rgba(255, 193, 7, 1);}

footer p{
	padding: 20px;
	max-width: 300px;
	font-size: 11px;
	letter-spacing: 2px;
	margin: auto;
	font-weight: 300;
	line-height: 25px;
	opacity: .4;
}

footer .logo-footer{
	padding: 10px 0px 40px;
}



