
<!-- <head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head> -->
<div class="body">
	<div class="top-bar">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<app-header></app-header>

				</div>
			</div>
		</div>
	</div>
	<section class="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Explora a Colombia y su herencia culinaria</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 d-flex align-items-stretch">
					<a  routerLink='../container/catalog'>
						<div class="card bg-dark recepies text-white">
							<div class="hover-card"></div>
							<div class="card-img-overlay">
								<h5 class="card-title">Recetas</h5>
								<p class="card-text">Recetas, historias, preparaciones y utensilios de nuestra Herencia Culinaria.</p>
								<p class="card-text"></p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-6 d-flex align-items-stretch">
					<a  routerLink='../virtual-map'>
					<div class="card bg-dark map text-white">
						<div class="hover-card"></div>
						<div class="card-img-overlay">
							<h5 class="card-title">Explora a Colombia</h5>
							<p class="card-text">Descubre a Colombia, sus regiones, historias y recetas.</p>
							<p class="card-text"></p>
						</div>
					</div>
				</a>
				</div>
			</div>
		</div>
	</section>
	<div class="divider-paper-white"></div>
	<section class="slider-stories stories">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="title-stories">
						Nuevas historias
					</h2>
				</div>
				<div class="col-lg-12" style="max-width: calc(100vw - 15px);">
					<div class="swiper-container storiesdepartment">
					<swiper #stories [config]="config" >

            
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper" >
							<div class="swiper-slide"></div>
							 
						</div>
					  
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
					  
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					  
					  </swiper>
					</div>
				</div>
			</div>
		</div>
	
	</section>
	<div class="divider-paper-white top"></div>
	<section class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4>Acerca de</h4>
					<figure><img src="assets/imgs/logo-fullcolor-hrz.png" alt="" width="265"></figure>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<p>En nuestro país la cocina tradicional se considera como uno de los pilares del Patrimonio
						Cultural Inmaterial de la Nación. Esta es una expresión de la cultura que da cuenta de la
						historia de un pueblo o comunidad, es la expresión de la comprensión y la relación con el
						entorno ecológico que se expresa en el saber tradicional del uso de los recursos para la
						preparación de alimentos y constituye parte fundamental de la identidad de los pueblos y
						comunidades.<br><br>
						Las cocinas tradicionales comprenden complejos conjuntos de conocimientos y prácticas
						culinarias que tienen raíces indígenas, ibéricas, africanas y notables influencias –muy
						visibles en la región Caribe- de la culinaria árabe y de los países vecinos. Por eso, para
						entender la cocina tradicional en un país multicultural, pluriétnico y biodiverso como el
						nuestro, es necesario adentrarse en las cocinas regionales y locales..</p>
				</div>
				<div class="col-lg-6">
					<p>Por esta razón desde el 2012 Colombia cuenta con la Política para el conocimiento, la
						salvaguardia y el fomento de la alimentación y las cocinas tradicionales de Colombia,
						teniendo como objetivo principal valorar y salvaguardar la diversidad y riqueza cultural de
						los conocimientos, prácticas y productos alimenticios de las cocinas tradicionales de
						Colombia, como factores fundamentales de la identidad, pertenencia y bienestar de su
						población.<br><br>Gastro Herencia Colombia es una plataforma que aporta al cumplimiento de
						esta Política, por eso invitamos a que recorran a Colombia a través de sus cocinas y que
						sean parte de este camino en donde todos podremos aportar a su reconocimiento y
						fomento. Nuestro campo está listo y la mesa está servida. ¡Bienvenidos!.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="winners">
		<div class="container">
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6 text-center">
					<h4>Ganadores convocatoria <b>RetoLab MinCultura 2020</b></h4>
					<p>GastroHerencia Colombia fue el ganador de la Convocatoria RetoLab 2020 (Ecopetrol, MinCultura, MinTransporte) en la caregoría de MinCultura.</p>
				</div>
				<div class="col-lg-3"></div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-4 text-center">
							<img src="assets/imgs/retolab-logo.png" width="74" alt="">
						</div>
						<div class="col-lg-4 text-center">
							<img src="assets/imgs/appsco-logo.png" width="181" alt="">
						</div>
						<div class="col-lg-4 text-center">
							<img src="assets/imgs/mincultura-logo.png" width="230" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<figure class="logo-footer"><img src="assets/imgs/logo-fullcolor-vrt.png" width="150" height="auto" alt=""></figure>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col d-flex align-items-center">
					<div style="margin: auto;">
						<a class="btn-floating btn-lg" type="button" role="button"><i class="fab fa-facebook"></i></a>
						<a class="btn-floating btn-lg" type="button" role="button"><i class="fab fa-instagram"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="text-center">Todos los derechos reservados. Imágenes usadas como prototipo pero no representan el producto final.</p>
				</div>
			</div>
		</div>
	</footer>	

</div>
