<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gastro Herencia - Colombia</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
	<div class="top-bar">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<app-header></app-header>

				</div>
			</div>
		</div>
	</div>
	<section class="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Explora a Colombia y su herencia culinaria</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<a  routerLink='../container/catalog'>
						<div class="card bg-dark text-white">
							<div class="hover-card"></div>
							<img class="card-img" src="assets/imgs/card-item-2.jpg" alt="Card image">
							<div class="card-img-overlay">
								<h5 class="card-title"></h5>
								<p class="card-text"></p>
								<p class="card-text"></p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4">
					<div class="card bg-dark text-white">
						<img class="card-img" src="assets/imgs/card-item.jpg" alt="Card image">
						<div class="card-img-overlay">
							<h5 class="card-title"></h5>
							<p class="card-text"></p>
							<p class="card-text"></p>
						</div>
					</div>
					<div class="card bg-dark text-white">
						<img class="card-img" src="assets/imgs/card-item-1.jpg" alt="Card image">
						<div class="card-img-overlay">
							<h5 class="card-title"></h5>
							<p class="card-text"></p>
							<p class="card-text"></p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card bg-dark text-white">
						<img class="card-img" src="assets/imgs/card-item-3.jpg" alt="Card image">
						<div class="card-img-overlay">
							<h5 class="card-title"></h5>
							<p class="card-text"></p>
							<p class="card-text"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="divider-paper-white"></div>
	<section class="stories">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="title-stories">
						Nuevas historias
					</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="stories-content">
						<img src="assets/imgs/content.png" width="100%" height="auto" alt="">
					</div>
				</div>
				<div class="col-lg-12">
					<div class="text-center">
						<img src="assets/imgs/nav-slider.png" width="150" height="auto" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="divider-paper-white top"></div>
	<section class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4>Acerca de</h4>
					<figure><img src="assets/imgs/logo-fullcolor-hrz.png" alt="" width="265"></figure>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
				</div>
				<div class="col-lg-6">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<figure class="logo-footer"><img src="assets/imgs/logo-fullcolor-vrt.png" width="150" height="auto" alt=""></figure>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col d-flex align-items-center">
					<div style="margin: auto;">
						<a class="btn-floating btn-lg" type="button" role="button"><i class="fab fa-facebook"></i></a>
						<a class="btn-floating btn-lg" type="button" role="button"><i class="fab fa-instagram"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="text-center">Todos los derechos reservados. Imágenes usadas como prototipo pero no representan el producto final.</p>
				</div>
			</div>
		</div>
	</footer>	
</body>
</html>