
<form #form1="ngForm" (submit)="onSubmit()">
    <div class="containerRec bg">
        <div class="form">
        <h2>Modificar contraseña</h2>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input type="password" name="password1" class="form-control fix" [(ngModel)]="newPwd"
                #password1="ngModel" placeholder="Nueva contraseña" required minlength="8">
            <div class="form-error" *ngIf="password1.touched && password1.errors">
                Campo requerido. Minimo 8 caracteres.
            </div>
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input type="password" name="password2" class="form-control fix" [(ngModel)]="newPwd2"
                #password2="ngModel" placeholder="Confirme contraseña" required minlength="8">
            <div class="form-error" *ngIf="password2.touched && password1.errors">
                Campo requerido.
            </div>
        </div>
        <div class="form-group">
            <input type="button" value="Cancelar" class="btn float-left login_btn"
                (click)="onCancel()">
            <input type="Submit" value="Recuperar" class="btn float-right login_btn"
                [disabled]="(form1.invalid)">
        </div>
    </div>
    </div>
</form>
