.containerRec {
    text-align: center;
    width: 100%;
}

.form {
    width: 350px;
    position: absolute;
    left: 40%;
    top: 30%;
    background-color: rgb(0,0,0,0.6);
    padding: 20px;
}


.login_btn{
    color: #000;
    background-color: #ffdf00;
    width: 120px;
    padding: 10px 15px;
    box-shadow: 0px 10px 30px -10px rgb(255 223 0 / 61%);
    margin: 10px;
    border-radius: 30px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.form-error{
    color: red;
    font-size: .8em;
  }

.containerRec {
    width: 100%;
    padding: 20px;

}  

.fix {
    min-width: 250px;
}

.bg {
    background: url('/assets/background-gastro.jpg') top center repeat-y;
    background-size: 100% auto;
    min-height: 100vh;
    overflow-x: hidden;
    
}

h2 {
    color: #fff;
}