.navbar{
    background-color: white;
}

.logo-main-gastro{
    background-image: url('/assets/logo-gastro-dark-hrz.png');
    background-size: 100% ;
    text-indent: -9999px;
    font-size: 0px;
    width: 300px;
    height: 30px;
    margin: 0px;
}