@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


.card{ margin-bottom: 24px; border:none !important; position: relative; }

.btn-card{
	margin: 40px auto;
    font-weight: 900;
    font-size: 16px;
    padding: 15px 30px;
}

.hover-card{
	background-color: rgba(7, 232, 255, 1);
	opacity: 0;
	position:
	absolute;
	width: 100%;
	height: 100%;
	transition: all ease-in-out .2s;
}

.bg{
	background: url(/assets/imgs/bg-landing.jpg) top center no-repeat;
	background-size: cover;
	padding: 0;
	height: 100%;
}

.btn-gastro{
	font-family: 'Ubuntu', sans-serif; 
	font-weight: bolder;
	font-size: 16px;
	background-color: rgba(255, 193, 7, 1);
	border-radius: 100px;
	color: black !important;
	padding: 10px 30px !important;
	display: table;

}

.btn-gastro:hover{
	text-decoration: none;
}


.card:hover .hover-card{ opacity: 0.3; }


section.services{
	margin-top: 40px;
}


section.stories{
	padding: 120px 0px 200px;
}

section.stories .title-stories{
	width: 261.65px;
	height: 94.49px;
	margin: auto;
	background: url(/assets/imgs/title-nuevashistorias.png) center center no-repeat;
	background-size: contain;
	text-indent: -9999px;
	display: block;
}

section.stories .stories-content {
	margin-bottom: 40px;
}


footer{
	padding: 120px 0px 120px;
	background-color: rgba(0,0,0,0.4);
	color: white;
}

footer i{ font-size: 30px; color: rgba(255,255,255,1);}
footer i:hover{ color: rgba(255, 193, 7, 1);}

footer p{
	padding: 20px;
	max-width: 300px;
	font-size: 11px;
	letter-spacing: 2px;
	margin: auto;
	font-weight: 300;
	line-height: 25px;
	opacity: .4;
}

footer .logo-footer{
	padding: 10px 0px 40px;
}



/* - - - - - - - - - - - - - - - - - - - INTERNA REGION - - - - - - - - - - - - - */ 


.swiper-button-next, .swiper-button-prev {
    color: white !important;
}



.divider-paper-white {
    width: 100%;
    position: relative;
    height: 80px;
    background: url(/assets/imgs/divider-paper.png) no-repeat 50%;
    background-size: 100% 100%;
    margin-top: -45px;
    margin-bottom: -35px;
    z-index: 2;
}


section.intro-department{
	padding: 120px 30px;
	background-color: white;
	color: #393D5E;
}

section.intro-department .btn-gastro{
	margin: 30px auto 20px;
	background-color: #5959D2;
	color: white !important;
}

section.intro-department .btn-gastro::before{
	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f053"; padding-right: 10px;
}



#us-map{
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 600px;
  height: auto;
}
path{
	fill: #ffffff !important;
	stroke: #393D5E !important;
  	stroke-width:2px;
  	stroke-linejoin: round;
}
path:hover, circle:hover {
  stroke: #393D5E !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #FFDF00 !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
#info-box {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #403470;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: bolder;
}

#info-box div::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f3c5"; padding-right: 10px;
  }


.title-section h2{
	display: block;
	margin: auto;
	margin-bottom: 15px;
	max-width: 400px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 42.4586px;
	line-height: 107%;
	/* or 45px */

	text-align: center;
}

.title-section h2 span{
	font-family: 'Caveat Brush', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 65px;
	line-height: 107%;
	/* identical to box height, or 73px */

	text-align: center;
	letter-spacing: -0.015em;

	transform: rotate(-2deg);
	display: block;
	position: relative;
	top: -10px;
}

.title-section p{
	display: block;
	margin: auto;
	max-width: 350px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 31px;
	/* or 195% */

	text-align: center;
}

section.intro-department p{
	max-width: 100%;
}

section.intro-department .img-department img {
	width: 70%;
	height: auto;
	position: relative;
	top: -40px;
}




section.imgs-department{
	padding: 0px 0px;
}



section.imgs-department .swiper-container {
      width: 100%;
      height: 100%;
}


section.imgs-department .swiper-slide {
  text-align: center;
  font-size: 18px;
  width: auto;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}





section.about-department{
	padding: 120px 30px;
	background-color: #D95357;
	color: white;
}

section.about-department h3{
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 42.4586px;
	line-height: 107%;
	margin-bottom: 20px;
	/* or 45px */


	color: #FFFFFF;
}

section.about-department p{
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 31px;
	/* or 195% */


	color: #FFFFFF;
}


section.slider-stories{
	padding: 120px 30px;
	background-color: #5959D2;
}


section.slider-stories .title-section{
	color: white;
	margin-bottom: 30px;
}

section.slider-stories .story-container{
	max-width: 800px;
	height: 600px;
	margin: auto;
	position: relative;
}

section.slider-stories .story-container .author-pic{
	position: absolute;
	width: 304.22px;
	height: 454.94px;
	left: 70px;
	top: 0px;
	z-index: 1;
}

section.slider-stories .story-container .author-pic img{
	width: 100%;
}

section.slider-stories .story-container .author-text{
	position: absolute;
	z-index: 3;
	color: white;
	bottom: 180px;
	left: -20px;
}

section.slider-stories .story-container .author-text .region-text{
	position: absolute;
	bottom: -38px;
	right: -120px;
	z-index: 6;
	background: #FFDF00;
	border-radius: 3.70881px;
	transform: rotate(-2.21deg);
	padding: 15px 15px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 26.7034px;
	line-height: 18px;
	/* identical to box height, or 67% */

	text-align: center;
	letter-spacing: -0.04em;

	color: #2C2F47;
}

section.slider-stories .story-container .author-text h3{
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 54.7533px;
	line-height: 72%;
	/* or 48px */

	text-align: center;
	letter-spacing: -0.04em;

	color: #FFFFFF;

	text-shadow: 0px 4.40405px 52.8486px #000000;
}

section.slider-stories .story-container .author-text h3 .sp1{
	position: relative;
	left: -25px;
}

section.slider-stories .story-container .author-text h3 .sp2{
	position: relative;
	top: -5px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 30.7987px;
	line-height: 57%;
	/* identical to box height, or 27px */

	text-align: center;
	letter-spacing: -0.04em;
}

section.slider-stories .story-container .author-text h3 .sp3{
	position: relative;
	left: 45px;
}

section.slider-stories .story-container .author-bg{
	position: absolute;
	width: 375.28px;
	height: 268.91px;
	left: 0px;
	top: 111.27px;
	background: url(/assets/imgs/stories-components/bg-author.png);
}

section.slider-stories .story-container .video-bg{
	position: absolute;
	width: 647.25px;
	height: 383.23px;
	left: 200.06px;
	top: 11.11px;
	background: url(/assets/imgs/stories-components/video-bg.png);
}

section.slider-stories .story-container iframe.video-story{
	position: absolute;
	z-index: 2;
	width: 420px;
	height: 252px;
	left: 280.06px;
	top: 123px;
}



section.recepies-department{
	padding: 20px 30px;
	height: auto;
}

section.recepies-department .title-section {
	color: white;
	margin-bottom: 10px;
}



section.travel-iniciative{
	background-color: white;
	padding: 100px 20px;
}

section.travel-iniciative .title-section h2{
	width: 100%;
	max-width: 100%;
	text-align: left;
	font-size: 28px;
	line-height: 55px;
}

section.travel-iniciative .title-section h2 span{
	font-family: 'Ubuntu', sans-serif;
	transform: none;
	text-align: left;
	font-size: 28px;
	font-weight: bolder;
}

.title-iniciative h4::before{font-family: "Font Awesome 5 Free"; font-weight: 900; padding-right: 10px;}
.title-iniciative h5{ opacity: .5; }
.title-iniciative h5::before{font-family: "Font Awesome 5 Free"; content: "\f072"; font-weight: 900; padding-right: 10px;}



@media (max-width: 1000px) {
	.section-map{
		padding: 60px 0px 120px;
	}

	section.slider-stories .story-container{
		max-width: 800px;
		height: 800px;
		margin: auto;
		position: relative;
	}

	section.slider-stories .story-container .author-pic{
		position: absolute;
		width: 304.22px;
		height: 454.94px;
		left: 0px;
		top: 0px;
		z-index: 1;
	}

	section.slider-stories .story-container .author-pic img{
		width: 100%;
	}

	section.slider-stories .story-container .author-text{
		position: absolute;
		z-index: 3;
		color: white;
		bottom: 0px;
		top: 120px;
		right: -80px;
	}

	section.slider-stories .story-container .author-text .region-text{
		position: absolute;
		display: table;
		top: 120px;
		bottom: inherit;
		right: inherit;
		left: 40%;
		z-index: 6;
		background: #FFDF00;
		border-radius: 3.70881px;
		transform: rotate(-2.21deg);
		padding: 15px 15px;
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 26.7034px;
		line-height: 18px;
		/* identical to box height, or 67% */

		text-align: center;
		letter-spacing: -0.04em;

		color: #2C2F47;
	}

	section.slider-stories .story-container .author-text h3{
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 54.7533px;
		line-height: 72%;
		/* or 48px */

		text-align: center;
		letter-spacing: -0.04em;

		color: #FFFFFF;

		text-shadow: 0px 4.40405px 52.8486px #000000;
	}

	section.slider-stories .story-container .author-text h3 .sp1{
		position: relative;
		left: -25px;
	}

	section.slider-stories .story-container .author-text h3 .sp2{
		position: relative;
		top: -5px;
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 30.7987px;
		line-height: 57%;
		/* identical to box height, or 27px */

		text-align: center;
		letter-spacing: -0.04em;
	}

	section.slider-stories .story-container .author-text h3 .sp3{
		position: relative;
		left: 45px;
	}

	section.slider-stories .story-container .author-bg{
		position: absolute;
		width: 375.28px;
		height: 268.91px;
		left: 0px;
		top: 111.27px;
		background: url(/assets/imgs/stories-components/bg-author.png);
	}

	section.slider-stories .story-container .video-bg{
		position: absolute;
		width: 647.25px;
		height: 383.23px;
		left: 0px;
		top: 21.11px;
		background: url(/assets/imgs/stories-components/video-bg.png);
	}

	section.slider-stories .story-container iframe.video-story{
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 252px;
		left: 0;
		top: 323px;
	}
}


