
<div class="top-bar bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar sticky-top navbar-expand-lg d-flex">
                    <a routerLink="/landing" class="navbar-brand">
                        <h1 class="logo">
                            Gastro Herencia
                        </h1>
                    </a>
                    
                  
                </nav>
                <div class="container" class="back" >
                    <div class="d-flex justify-content-center h-100">
                        <app-signup-form (formSubmit)="onSubmit($event)" title="Crear Usuario"></app-signup-form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
