<form #form="ngForm" autocomplete="off" (submit)="onSubmit()">
  <div class="main">
    <div class="container">


      <div class="form-group" title="Receta">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-utensils" [class.green-icon]="recipeControl.valid"
                [class.red-icon]="recipeControl.invalid"></i>
            </div>
          </div>

          <input name="recipe" class="form-control" placeholder="Seleccione la Receta" required maxlength="100"
            [matAutocomplete]="auto" [formControl]="recipeControl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let rec of filterRecipes$ | async" [value]="rec.name"
              (onSelectionChange)="selectRecipe($event, rec.id)">
              {{rec.name}}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>

      <div class="form-group" title="Nombre Preparacion">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-utensils" [class.green-icon]="name.valid"
                [class.red-icon]="name.invalid"></i>
            </div>
          </div>
          <input name="name" #name="ngModel" [(ngModel)]="preparationData.name" class="form-control"
            placeholder="Nombre preparación" required maxlength="100">
        </div>
      </div>
      <div class="form-group"  title="Descripcion preparacion">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-font" [class.green-icon]="true"
                [class.red-icon]="summary.invalid"></i>
            </div>
          </div>
          <textarea name="summary" #summary="ngModel" [(ngModel)]="preparationData.description" class="form-control"
            placeholder="Descripcion"  maxlength="500" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group"  title="Pasos Preparacion">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-font" [class.green-icon]="steps.valid"
                [class.red-icon]="steps.invalid"></i>
            </div>
          </div>
          <textarea name="steps" #steps="ngModel" [(ngModel)]="preparationData.preparationSteps" class="form-control"
            placeholder="Paso a paso preparación" maxlength="1500" rows="5"></textarea>
        </div>
      </div>
      <div class="form-group"  title="Comunidqad Portadora">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-users" [class.green-icon]="community.valid"
                [class.red-icon]="community.invalid && community.touched"></i>
            </div>
          </div>
          <input type="text"  title="Ingrese si el Portador es una comunidad y no una persona" name="community" #community="ngModel" [(ngModel)]="preparationData.carrierCommunity" class="form-control"
            placeholder="Comunidad Portadora" minlength="5"  maxlength="100">
        </div>
      </div>
      <div class="form-group"  title="Portador (si no es una comunidad">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-plus" [class.green-icon]="authorControl.valid"
                [class.red-icon]="authorControl.invalid && authorControl.touched" [style.cursor]="'pointer'"
                (click)="onAddNewAuthor()" title="Agregar un nuevo Autor.  (No aparece en el listado)"></i>

            </div>
          </div>

          <input name="author" title="Solo digite este campo si el portador es una persona" class="form-control" placeholder="Seleccione el autor"  maxlength="100"
            [matAutocomplete]="auto1" [formControl]="authorControl">
          <mat-autocomplete #auto1="matAutocomplete">
            <mat-option *ngFor="let rec of filteredAuthors$ | async" [value]="rec.name + ' ' + rec.lastName"
              (onSelectionChange)="selectAuthor($event, rec.id)">
              <img class="option-img" aria-hidden [src]="rec.imageUrl" height="25">
              <span>{{rec.name + ' ' + rec.lastName}}</span>
              <small>Región: <b>{{rec.regionName}}</b></small>
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <div class="form-group">
        <div class="user-avatar">
          <div class="form-group photo-upload">
            <div class="photo-upload-preview" [style.background-size]="avatarBgSize"
              [style.background-image]="imageAvatar">
            </div>
            <label class="photo-upload-label">
              <span class="btn btn-primary btn-sm">Cargar Imagen</span>
              <input type="file" accept="image/gif, image/jpeg, image/png" name="avatar"
                (change)="showAvatarPreview($event)">
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">

            <div class="input-group-text bg-white">

              <i class="fas fa-plus" [class.green-icon]="preparationData.ingredients.length" [style.cursor]="'pointer'"
                (click)="onAddNewElement('I')" title="Agregar un nuevo elemento si no aparece en la lista"></i>

            </div>

          </div>
          <div class="bg-white customfield">
            <app-chip-autocomplete titleItem="Seleccione Ingredientes" [listItems]="listIngredients"
              [initialListItems]="initialListIngredients" [typeItem]="'I'" (itemsSelected)="setIngredients($event)">
            </app-chip-autocomplete>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">

            <div class="input-group-text bg-white">

              <i class="fas fa-plus" [class.green-icon]="preparationData.tools.length" [style.cursor]="'pointer'"
                (click)="onAddNewElement('T')" title="Agregar un nuevo elemento si no aparece en la lista"></i>

            </div>

          </div>
          <div class="bg-white customfield">
            <app-chip-autocomplete titleItem="Seleccione Utensilios" [listItems]="listTools"
              [initialListItems]="initialListTools" [typeItem]="'T'" (itemsSelected)="setTools($event)">
            </app-chip-autocomplete>
          </div>
        </div>
      </div>
      <div class="form-group"  title="Tecnica de coccion">
        <div class="input-group">
          <div class="input-group-prepend">

            <div class="input-group-text bg-white">

              <i class="fas fa-plus" [class.green-icon]="preparationData.cookingTechnique" [style.cursor]="'pointer'"
                (click)="onAddNewElement('C')" title="Agregar un nuevo elemento si no aparece en la lista"></i>

            </div>

          </div>
          <div class="bg-white customfield">
            <select class="form-control" name="cookingTechnique" [(ngModel)]="preparationData.cookingTechnique.id"
              style="width: 100%;" title="Seleccione la Tecnica de coccion" #cookingTechnique="ngModel" >
              <option value="" selected>--Seleccione una técnica de cocción--</option>

              <option *ngFor="let cookingTechnique of cookingTechniques$ | async" [value]="cookingTechnique.id"
                [title]="cookingTechnique.description">
                {{cookingTechnique.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group"  title="Tipo preparacion">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-font" [class.green-icon]="preparationType.valid"
                [class.red-icon]="preparationType.invalid && preparationType.touched"></i>
            </div>
          </div>
          <textarea name="preparationType" #preparationType="ngModel" [(ngModel)]="preparationData.preparationType"
            class="form-control" placeholder="Tipo preparación" maxlength="200" rows="1"></textarea>
        </div>
      </div>
      <div class="form-group"  title="Fuente">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-font" [class.green-icon]="source.valid"
                [class.red-icon]="source.invalid && source.touched"></i>
            </div>
          </div>
          <input type="text" name="source" #source="ngModel" [(ngModel)]="preparationData.source" class="form-control"
            placeholder="Fuente información" maxlength="100">
        </div>
      </div>
      <div class="form-group"  title="Uso">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-font" [class.green-icon]="use.valid"
                [class.red-icon]="use.invalid && use.touched"></i>
            </div>
          </div>
          <input type="text" name="use" #use="ngModel" [(ngModel)]="preparationData.use" class="form-control"
            placeholder="Uso" maxlength="100">
        </div>
      </div>
      <div class="form-group"  title="Transmision">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-font" [class.green-icon]="transmission.valid"
                [class.red-icon]="transmission.invalid && transmission.touched"></i>
            </div>
          </div>
          <input type="text" name="transmission" #transmission="ngModel" [(ngModel)]="preparationData.transmissionWay" class="form-control"
            placeholder="Forma de Transmisión" maxlength="100">
        </div>
      </div>
      <div class="form-group bg-white"  title="Esta a la venta?">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-credit-card" [class.green-icon]="true"></i>
            </div>
          </div>
          <label class="c_checkbox by-store-checkbox">
            <div class="c_checkbox-label">A la venta: </div>
            <div class="c_checkbox-toggle">
              <input type="checkbox" name="forSale" #forSale="ngModel" [checked]="preparationData.forSale"
                [(ngModel)]="preparationData.forSale" />
              <div class="c_checkbox-toggle-view"></div>
            </div>
          </label>
        </div>
      </div>

      <div class="subcontainer"  title="Departamento y Ciudad">
        <div class="form-group container">
          <div class="input-group">
            <div class="input-group-prepend">
  
              <div class="input-group-text bg-white">
  
                <i class="fas fa-map" [class.green-icon]="true" [class.red-icon]="state2.invalid"
                 ></i>
              </div>
  
            </div>
            <div class="bg-white customfield">
          <select class="form-control" name="state2"  #state2 required (change)="loadCities(state2)" [(ngModel)]="state.id">
            <option value="0">--Seleccione Departamento--</option>

            <option *ngFor="let state of deps$ | async" [value]="state.id">
              {{ state.name }}
            </option>
          </select>
            </div>
          </div>
        </div>
        <div class="form-group container">
          <div class="input-group">
            <div class="input-group-prepend">
  
              <div class="input-group-text bg-white">
  
                <i class="fas fa-map" [class.green-icon]="city.valid" [class.red-icon]="city.invalid"
                 ></i>
  
              </div>
  
            </div>
            <div class="bg-white customfield">
          <select class="form-control" name="city" [(ngModel)]="preparationData.city.id" #city="ngModel" required
            >
            <option value="">--Seleccione ciudad--</option>
            <option *ngFor="let cityObj of cities$ | async" [value]="cityObj.id">
              {{ cityObj.name }}
            </option>
          </select>
        </div>
      </div>
        </div>

      </div>
        <BR>


        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="preparationData.id">
        <div class="form-group" style="display: flex;">
          <button type="button" class="btn btn-success btn-lg btn-block col-md-5" (click)="resetForm(form)"><i
              class="fas fa-plus"></i> Nueva preparación</button>
          <div class="col-md-2"></div>

          <button class="btn btn-success btn-lg btn-block col-md-5" type="submit" [disabled]="form.invalid"><i
              class="fas fa-database"></i> Guardar</button>
        </div>
      </div>
    </div>
</form>
<app-jwmodal id="newElementModal">
  <app-new-element-card [title]="titleNewElement" [typeElement]="typeElement" (submitData)="onSaveElement($event)">
  </app-new-element-card>
</app-jwmodal>
<app-jwmodal id="newAuthorModal">
  <div class="container-form-user">
    <app-signup-form (formSubmit)="onSaveAuthor($event)" (cancelAction)="onCancelAuthor()" [isAuthor]="true"
      title="Crear Autor"></app-signup-form>

  </div>
</app-jwmodal>
<app-jwmodal id="messageModal">
  <i class='fas fa-times-circle close-button-modal' title="Volver" (click)="onCloseModal('messageModal')"></i>
  <h4 class="message" ><b>Su preparación se registró correctamente y esta en proceso de validación, el administrador del sistema la revisará y publicará muy pronto.  Gracias</b></h4>
</app-jwmodal>