/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


.back {

    background-image: url('/assets/background-gastro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh);
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}

.logo-gastro{
    background-image: url('/assets/logo-gastro.png');
    background-size: 90% auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    margin: 20px auto;
}

.container{
height: 100%;
align-content: center;
padding-top: 100px;
padding-bottom: 400px;
}

.card{
// height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
padding: 30px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
font-weight: 800;
text-align: center;
font-size: 2rem;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: white;
color: black;
border:0 !important;
border-radius: 40px 0px 0px 40px;
padding: .7rem 1.5rem;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
    color: #000;
    background-color: #ffdf00;
    width: 120px;
    padding: 10px 15px;
    box-shadow: 0px 10px 30px -10px rgb(255 223 0 / 61%);
    margin: 10px;
    border-radius: 30px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}