
<section class="intro-department big-pic">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 text-center">
                <div class="img-department">
                    <img src="assets/imgs/regions/orinoquia.png" alt="">
                </div>
            </div>
            <div class="col-lg-7">
                <a class="btn-gastro" routerLink="/virtual-map">Volver</a>
                <div class="title-section">
                    <h2>
                        Bienvenido a la magia de la <span>Orinoquía</span>
                    </h2>
                    <p>
                        En la Orinoquía los paisajes de extensas llanuras han producido diversas manifestaciones alrededor del patrimonio culinario, se destacan principalmente la carne a la llanera, la preparación de bebidas de plantas originarias y el pan de arroz, entre muchos otros. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="divider-paper-white"></div>
<section class="imgs-department">
    <!-- Slider main container -->
    <div class="swiper-container imgsdepartment">
        <!-- Additional required wrapper -->
        <swiper [config]="config">

            <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-01.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-02.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-03.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-01.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-02.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-03.jpg" alt="">
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev imgs"></div>
        <div class="swiper-button-next imgs"></div>
        </swiper>
    </div>
</section>
<section class="about-department">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="title">Acerca de</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>
                    Esta región se caracteriza por las grandes llanuras que abarcan su paisaje, los ríos y corrientes de agua que albergan la diversidad de flora y fauna, así como los diferentes tipos de suelo. Desde este panorama es habitual que sus habitantes consuman animales endémicos que sólo se encuentran en su territorio:  cerdos salvajes, tortugas, venadillos chigüiros y la popular ternera que se asa con la técnica de cocción propia del llanero. Los ambientes de llanuras y el clima húmedo son propicios para el consumo de alimentos que se transportan por largos caminos, el uso de envoltorios para proteger y conservar la frescura de las carnes y los amasijos es común en estas cocinas tradicionales. Desde la infancia se toma la colada,  una bebida tradicional con propiedades nutricionales propicias para los niños y está hecha a base de plátano seco.
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    También, la pesca y preparación de recetas con cachama, ají, plátano, caldos de pescado (pavón, valentón, corvina o sábalo) el uso de la yuca,  y la extracción de aceites o jugos para la realización de bebidas de seje, vinete, yaraque, majule y el guarapo. Uno de los amasijos más característicos es el pan de arroz, proveniente de San Martín, Meta, también el amawali de las comunidades indígenas del Vichada, las hayacas, el pisillo de bagre.
                    <br><br>La cocina tradicional es enmarcada en el trabajo de llano, los gofios (amasijo tradicional de los Llanos) a base de panela y harina de maíz y el bastimento que consiste en la reunión de carnes, plátano, gofios, queso, panela, entre otros, hacen parte de la alimentación para el trabajo del Llano.
                </p>
            </div>
        </div>
    </div>
</section>
<div class="divider-paper-white"></div>
<section class="slider-stories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-section">
                    <h2>
                        La región y<span>sus historias</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider main container -->
    <div class="swiper-container storiesdepartment">
        <swiper #stories [config]="config" >

            
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper" >
                <div class="swiper-slide"></div>
                <!-- Slides -->
                 <!-- <div class="swiper-slide" *ngFor="let story of regionStories$ | async" [innerHTML]="story?.content">
                  
                </div>  -->
                 
            </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev region"></div>
        <div class="swiper-button-next region"></div>
        </swiper>
    </div>
    
</section>

<!-- <section class="travel-iniciative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-section">
                    <h2>
                        Iniciativas de turismo cultural<span>en cocinas tradicionales</span>
                    </h2>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <div class="title-iniciative">
                    <h4>Comiendo a pie</h4>
                    <h5>Recorrido Cultural</h5>
                </div>
            </div>
            <div class="col-lg-5">
                <p>
                    Descubre Envigado a través de empanadas y morcillas. Vive una experiencia recorriendo las calles de Envigado combinando comida y cultura. En esta experiencia se conecta la importancia de la empanada y morcilla en el territorio, al mismo tiempo que se vive la historia de sus espacios culturales y personajes más representativos del municipio.
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    304 5892903
                    publicidad@elsabordemitierracolombia.com
                    <b>Envigado</b>
                </p>
            </div>
        </div>
    </div>
</section> -->

<section class="recepies-department bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-section">
                    <h2>
                        Recetas de<span>la región</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <app-catalog [regionId]="regionId"></app-catalog>
        </div>
    </div>
 
</section>
