
<section class="intro-department big-pic">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 text-center">
                <div class="img-department">
                    <img src="assets/imgs/regions/amazonia.png" alt="">
                </div>
            </div>
            <div class="col-lg-7">
                <a class="btn-gastro" routerLink="/virtual-map">Volver</a>
                <div class="title-section">
                    <h2>
                        Bienvenido a la magia de la <span>Región Amazonica</span>
                    </h2>
                    <p>
                        Las cocinas tradicionales del Amazonas son el resultado de alimentos provenientes de ecosistemas selváticos, ríos y un área enriquecida de diversidad biológica, adicionalmente, las poblaciones indígenas han desarrollado sus sistemas culturales y económicos a partir de las relaciones ecológicas con los medios naturales que brinda la región.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="divider-paper-white"></div>
<section class="imgs-department">
    <!-- Slider main container -->
    <div class="swiper-container imgsdepartment">
        <!-- Additional required wrapper -->
        <swiper [config]="config">

            <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-01.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-02.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-03.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-01.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-02.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-03.jpg" alt="">
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev imgs"></div>
        <div class="swiper-button-next imgs"></div>
        </swiper>
    </div>
</section>
<section class="about-department">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="title">Acerca de</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>
                    La Amazonía comprende una extensión de 109.665 Km2, sus ecosistemas de selva y rio en dónde son abundantes las lluvias, han sido testigos de la convivencia con la población mayoritariamente indígena, de quienes se han registrado 26 pueblos. Las formas de habitar el territorio a lo largo de su historia, han creado relaciones ecológicas, espirituales y económicas, que para el caso de los sistemas culinarios enriquecen los hábitos cotidianos y rituales de los indígenas, haciendo de ellos un interesante escenario donde conviven las tradiciones culinarias heredadas de generación en generación; existen otros ecosistemas en Putumayo. Justamente, la trasmisión de este conocimiento sobre los procesos agrícolas y naturales de los ecosistemas han garantizado la pervivencia de las familias que conforman los grupos indígenas.
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    Las características de las cocinas del Sur del Amazonas pueden comprenderse desde el uso de la tierra y los espacios destinados para su cultivo y cuidado: los huertos y sembrados alrededor de la casa, la chagra, la selva y los rastrojos, las técnicas tradicionales de cocina (moquiado, salado, trasformación de la yuca brava y la maduración de alimentos como la yuca y los tubérculos).
                    <br><br>Dentro de las preparaciones y recetas se destacan los caldos de hormiga arriera, los guisos de pulpa de frutos, las albóndigas de yuca, la mazamorra, el casabe, las arepas, los diferentes sabores de caguana (bebida tradicional) a base de piña, canangucho o azaí. 
                </p>
            </div>
        </div>
    </div>
</section>
<div class="divider-paper-white"></div>
<section class="slider-stories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-section">
                    <h2>
                        El departamento y<span>sus historias</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider main container -->
    <div class="swiper-container storiesdepartment">
        <swiper #stories [config]="config" >

            
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper" >
                <div class="swiper-slide"></div>
                <!-- Slides -->
                 <!-- <div class="swiper-slide" *ngFor="let story of regionStories$ | async" [innerHTML]="story?.content">
                  
                </div>  -->
                 
            </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev region"></div>
        <div class="swiper-button-next region"></div>
        </swiper>
    </div>
    
</section>

<!-- <section class="travel-iniciative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-section">
                    <h2>
                        Iniciativas de turismo cultural<span>en cocinas tradicionales</span>
                    </h2>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <div class="title-iniciative">
                    <h4>Comiendo a pie</h4>
                    <h5>Recorrido Cultural</h5>
                </div>
            </div>
            <div class="col-lg-5">
                <p>
                    Descubre Envigado a través de empanadas y morcillas. Vive una experiencia recorriendo las calles de Envigado combinando comida y cultura. En esta experiencia se conecta la importancia de la empanada y morcilla en el territorio, al mismo tiempo que se vive la historia de sus espacios culturales y personajes más representativos del municipio.
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    304 5892903
                    publicidad@elsabordemitierracolombia.com
                    <b>Envigado</b>
                </p>
            </div>
        </div>
    </div>
</section> -->

<section class="recepies-department bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-section">
                    <h2>
                        Recetas de<span>la región</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <app-catalog [regionId]="regionId"></app-catalog>
        </div>
    </div>
 
</section>
