:host ::ng-deep {

.link {
    text-decoration: none;
    color: blue;
    cursor: pointer;
  }

}

.grid {
  display: inline-block;
  height: calc(80vh - 10px);
  max-width: 98%;
  margin-left: 10px;
}