<div class="jumbtron" [style.marginTop.px]="80">
  <h1 class="display-4 text-center">Administracion Preparaciones Inactivas</h1>
  <hr>
  <div class="row" >
    
    <div class="col-md-12  grid" >
      <div style="height: 100%; box-sizing: border-box;">
        <ag-grid-angular
          #userGrid
          style="width: 100%; height: 100%;"
          id="userGrid"
          class="ag-theme-alpine"
          [defaultColDef]="defaultColDef"
          [columnDefs]="columnDefs"
          [rowData]="rowData"
          [rowSelection]="'single'"
          [pagination]="true"
          [paginationPageSize]="100"
          (selectionChanged)="onSelectRow($event)"
          (gridReady)="onGridReady($event)"
        ></ag-grid-angular>
      </div>
      
      <app-jwmodal id="usercard">
        <i class='fas fa-times-circle close-button-modal' title="Volver" (click)="closeModal('usercard')"></i>
          <app-user-card *ngIf="selectedUser" [user]="selectedUser" (updateUser)="onSaveUser($event)" (deleteUser)="onDeleteUser($event)"></app-user-card>
      </app-jwmodal>
      
      <app-jwmodal id="prepcard">
        <i class='fas fa-times-circle close-button-modal' title="Volver" (click)="closeModal('prepcard')"></i>
        <app-prep-card  *ngIf="selectedPrep" [preparation]="selectedPrep" (updatePrep)="onSavePrep($event)" (deletePrep)="onDelete($event)"></app-prep-card>
         
      </app-jwmodal>
      <app-jwmodal id="viewcard"> 
        <app-detail-prep-card *ngIf="selectedPrep" [prep]="selectedPrep" [userId]="userId"   (closeButton)="closeModal('viewcard')"></app-detail-prep-card>
      </app-jwmodal>
      
    </div>
  </div>
</div>



