section{
    padding: 100px 0;
}

.title-section{
    max-width: 500px;
    text-align: center;
    font-size: 3rem;
    margin: 40px auto 30px;
    color: white;
}

.details-card {
    background: url('/assets/bg-catalog.jpg') top center repeat-y;
    background-size: 100% auto;
    min-height: 100vh;
    
}