section{
    padding: 100px 0;
}

.title-section{
    max-width: 540px;
    text-align: center;
    font-size: 3.4rem;
    line-height: 3.6rem;
    margin: 40px auto 50px;
    color: #fff;
}

.title-section span{
    font-size: 5rem;
    font-family: 'Caveat Brush', cursive;
    transform: rotate(-1deg);
    display: block;
}

.details-card {
    background: url('/assets/bg-catalog.jpg') top center repeat-y;
    background-size: 100% auto;
    min-height: 100vh;
    
}