
<section class="details-card"  *ngIf="catalogView">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="title-section">Se parte de la Herencia Culinaria <span>de nuestro país</span></h3>
            </div>
            <div class="col-lg-6 d-flex justify-content-center align-self-center box-search">
                <app-searchbar class="w-100"></app-searchbar>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-3" [style.paddingBottom.px]="20" *ngFor="let recipe of recipeCatalog$">
            
            <app-recipe [card]="recipe" (selectedCard)="onSelectCard($event)"></app-recipe>
           
            </div>
            <span class="messages" *ngIf="!recipeCatalog$?.length">
                No se encontraron Recetas con su criterio de Búsqueda
             </span>
             <button class="btn-card" *ngIf="recipeTotal.length > recipeCatalog$?.length" (click)="showMoreRecipes()">
                   Ver Mas!
             </button> 
        </div>
    </div>
</section>
<app-detail-recipe [card]="cardInfo"  [userId]="currentUserId" (backCatalog)="onBack()" *ngIf="!catalogView && cardInfo" (ratePreparation)="onRatePreparation($event)"></app-detail-recipe>

  
  
