
<section class="intro-department big-pic">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 text-center">
                <div class="img-department">
                    <img src="assets/imgs/regions/insular.png" alt="">
                </div>
            </div>
            <div class="col-lg-7">
                <a class="btn-gastro" routerLink="/virtual-map">Volver</a>
                <div class="title-section">
                    <h2>
                        Bienvenido a la magia de la <span>Región Insular</span>
                    </h2>
                    <p>
                        En San Andrés y Providencia las relaciones culturales alrededor de la cocina, surgen desde el contacto con la naturaleza del mar, la montaña, el bosque seco, las playas y los arrecifes de coral. Sus habitantes en su mayoría raizales aportan el conocimiento y la sabiduría ancestral para preservar su patrimonio cultural culinario.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="divider-paper-white"></div>
<section class="imgs-department">
    <!-- Slider main container -->
    <div class="swiper-container imgsdepartment">
        <!-- Additional required wrapper -->
        <swiper [config]="config">

            <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="assets/imgs/insular/insular1.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/insular/insular2.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/insular/insular3.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/insular/insular4.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/insular/insular5.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/insular/insular6.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/insular/insular7.png" alt="">
            </div>

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev imgs"></div>
        <div class="swiper-button-next imgs"></div>
        </swiper>
    </div>
</section>
<section class="about-department">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="title">Acerca de</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>
                    Esta región ubicada en el Océano Atlántico, posee ecosistemas de bosque seco, las playas, las montañas y los arrecifes de coral. En medio de estas relaciones ecosistémicas se destacan los cultivos familiares en las fincas y los huertos (grung), en dónde se cultivan productos más representativos y se domestican animales de corral, en estas actividades se encuentran oficios asociados a los sistemas culinarios como la pesca artesanal, la molienda de caña, las ventas de comida, los procesadores de cangrejo y por supuesto, los cocineros. En estos cultivos se producen alimentos como la yuca, la batata dulce, la malanga, el plátano, la ahuyama, el melón y la patilla. En la cocina isleña es usual encontrar las hierbas aromáticas y especias que cumplen un rol comestible y a la vez medicinal algunos de ellas son: el aceite de coco, el orégano, la albahaca, el ají tradicional, jengibre, vinagre, menta y limonaria.
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    Un rasgo particular de San Andrés, Providencia y Santa Catalina es que el sistema cultural es mencionado desde el creole, el inglés y el español, lenguas que hacen parte de la isla.
                    <br><br>Es por lo anterior, que los escenarios socioculturales de la cocina isleña se presentan en una mezcla constante de la cocina terrestre y de mar, asociados al compartir colectivo, como sucede con el Rundown (Rondón). En las recetas isleñas, vale la pena mencionar el fry stew fish, bonito salad, (estofado de pescado), roast fish rundown, stew crab, stew pork (carne de cerdo). En los aperitivos se encuentran:  Joe Henry (pan de harina de trigo), Bami (casabe isleño) y el soda cake, por mencionar algunos.
                </p>
            </div>
        </div>
    </div>
</section>
<div class="divider-paper-white"></div>
<section class="slider-stories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-section">
                    <h2>
                        La región y<span>sus historias</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
        <!-- Slider main container -->
        <div class="swiper-container storiesdepartment">
    
    <swiper #stories [config]="config" >

            
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper" >
            <div class="swiper-slide"></div>
            <!-- Slides -->
             <!-- <div class="swiper-slide" *ngFor="let story of regionStories$ | async" [innerHTML]="story?.content">
              
            </div>  -->
             
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev region"></div>
        <div class="swiper-button-next region"></div>
        </swiper>
    </div>
    
</section>

 <section class="travel-iniciative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-section">
                    <h2>
                        Iniciativas de turismo cultural<span>en cocinas tradicionales</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row"  *ngFor="let iniciative of regionIniciatives$ | async">
            <hr style="width: 100%;">
            <div class="col-lg-3">
                <div class="title-iniciative">
                   <div  [innerHTML]="iniciative?.summary"></div>
                </div>
            </div>
            <div class="col-lg-5">
                <p [innerHTML]="iniciative?.description">
                </p>
            </div>
            <div class="col-lg-4">
                <p [innerHTML]="iniciative?.contact">
                </p>
            </div>
        </div>
    </div>
</section> 

<section class="recepies-department bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-section">
                    <h2>
                        Recetas de<span>la región</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <app-catalog [regionId]="regionId"></app-catalog>
        </div>
    </div>
 
</section>
