.searchbar{
    margin-bottom: 40px;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px 30px;
    width: 100%;;
    }

    .search_input{
        color: #fff;
        border: 0;
        outline: 0;
        background: none;
        width: 80%;
        caret-color: transparent;
        line-height: 40px;
        transition: width .4s linear;
    }

    .searchbar:hover, .searchbar:focus {
        border: 1px solid white;
        background-color: #353b48;
        outline: none;
    }

    .searchbar:active {
        border: 1px solid yellow;
        background-color: #353b48;
        outline: none;
    }

    input:-internal-autofill-selected {
        appearance: menulist-button;
        background-color: rgba(232, 240, 254,0) !important;
        background-image: none !important;
        color: -internal-light-dark(white) !important;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    cursor: pointer;
    }


.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}

.form {
    display: flex;
    align-items: baseline;
}