.section-container{
  background: url('/assets/bg-catalog.jpg') top center repeat-y;
  background-size: 100% auto;
  min-height: 100vh;
  padding: 50px 0px;
}

.section-container .container{
  margin-top: 20px;
}

.blog .card {
  
    border-radius: 0;
    border: 0;
    background: rgba(255,255,255,0.06);
  
    transition: background 0.25s;
    cursor: pointer;
  }
  .blog .card:hover {
    background: rgba(255,255,255,0.1);
    transition: background 0.25s;
  }
  
  .blog .card .card-block {
    padding: 1.1rem;
    min-height: 160px;
  }
  .blog .card .card-block .category {
      color: #dd0042;
      text-transform: uppercase;
      margin-bottom: 0.4rem;
      background-color: #189cd5;
      color: #fff;
      font-weight: 500;
      line-height: 100%;
      font-size: 12px;
      width: fit-content;
      padding: 4px 8px 2px;
      letter-spacing: 0.06rem;
  }
  .blog .card .card-block .card-title {
      color: #fff;
      font-size: 19px;
      line-height: 1.8rem;
      margin-bottom: 0.4rem;
  }
  
  .size {
      padding: 10px;
  }

  .checked, .price span {
    color: #ff9f1a;
}

.mainimg {
  height: 100%;
  width: 100%;
}

.back {
  font-size:36px;
  color: green;
  position: absolute;
  top: 3px;
  right: 20px;
  cursor: pointer;
}

.details{
  padding: 40px;
}

.card-content {
	background: #fff;
    border: 4px;
    box-shadow: 0 46px 48px -35px rgb(0 0 0 / 97%);
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-30%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color: #1abc9c;
    box-shadow: 0px 6px 17px -10px rgba(0,0,0,0.5);
    padding: 10px 20px;
    letter-spacing: 2px;
    font-size: .81rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}