.blog .card {
  
    border-radius: 0;
    border: 0;
    background: rgba(255,255,255,0.06);
  
    transition: background 0.25s;
    cursor: pointer;
  }
  .blog .card:hover {
    background: rgba(255,255,255,0.1);
    transition: background 0.25s;
  }
  
  .blog .card .card-block {
    padding: 1.1rem;
    min-height: 160px;
  }
  .blog .card .card-block .category {
      color: #dd0042;
      text-transform: uppercase;
      margin-bottom: 0.4rem;
      background-color: #189cd5;
      color: #fff;
      font-weight: 500;
      line-height: 100%;
      font-size: 12px;
      width: fit-content;
      padding: 4px 8px 2px;
      letter-spacing: 0.06rem;
  }
  .blog .card .card-block .card-title {
      color: #fff;
      font-size: 19px;
      line-height: 1.8rem;
      margin-bottom: 0.4rem;
  }
  
  .size {
      padding: 10px;
  }

  .checked, .price span {
    color: #ff9f1a;
}

.mainimg {
  height: 100%;
  width: 100%;
}

.back {
  font-size:36px;
  color: green;
  position: absolute;
  top: 3px;
  right: 20px;
  cursor: pointer;
}