
<section class="intro-department big-pic">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 text-center">
                <div class="img-department">
                    <img src="assets/imgs/regions/caribe.png" alt="">
                </div>
            </div>
            <div class="col-lg-7">
                <a class="btn-gastro" routerLink="/virtual-map">Volver</a>
                <div class="title-section">
                    <h2>
                        Bienvenido a la magia de la <span>Región Caribe</span>
                    </h2>
                    <p>
                        Las cocinas tradicionales de la Costa Caribe son producto de la ubicación geográfica de esta región y de sus climas y ecosistemas diversos. Así como su historia en dónde se destaca una influencia, árabe, española e indígena que perdura en la actualidad.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="divider-paper-white"></div>
<section class="imgs-department">
    <!-- Slider main container -->
    <div class="swiper-container imgsdepartment">
        <!-- Additional required wrapper -->
        <swiper [config]="config">

            <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="assets/imgs/caribe/caribe1.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/caribe/caribe2.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/caribe/caribe3.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/caribe/caribe4.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/caribe/caribe5.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/caribe/caribe6.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/caribe/caribe7.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/caribe/caribe8.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/caribe/caribe9.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/caribe/caribe10.png" alt="">
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev imgs"></div>
        <div class="swiper-button-next imgs"></div>
        </swiper>
    </div>
</section>
<section class="about-department">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="title">Acerca de</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>
                    El Caribe es uno de los puertos más importantes en Colombia para la entrada de diversas culturas culinarias provenientes del exterior, por lo tanto en la historia de su población es recurrente encontrar sabores árabes, mestizos, españoles, indígenas y afro descendientes, Las adaptaciones al medio natural de sabana, manglar, montaña, nevado y mar han hecho de la Región Caribe un lugar que se desataca en su patrimonio culinario por la cocina de mar, los fritos, los sabores dulces de las frutas, las bebidas refrescantes y adicional los elementos que surgen de sus sistemas culinarios alrededor de la vida social de sus portadores: los espacios de las cocinas tanto interiores como exteriores, los utensilios, las técnicas de
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    cocción aprendidas desde la intimidad de la familia, los sistemas de producción agrícola en sus diferentes ecosistemas, todos ellos se han mantenido al margen de las dinámicas de la región.<br><br>Algunos de los platos de la Región Caribe son: el sancocho de pescado, el sancocho de guandú, el mondongo, el guarapo, el mote de queso, los jugos de bebidas de mango y jengibre, las butifarras, arroz con coco, arepa de huevo, el arroz de lisa, los amasijos (bollos) a base de yuca y las carimañolas. Las bebidas como el jugo de corozo, de guayaba agría y de níspero.
                </p>
            </div>
        </div>
    </div>
</section>
<div class="divider-paper-white"></div>
<section class="slider-stories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-section">
                    <h2>
                        La región y<span>sus historias</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider main container -->
    <div class="swiper-container storiesdepartment">
        <swiper #stories [config]="config" >

            
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper" >
                <div class="swiper-slide"></div>
                <!-- Slides -->
                 <!-- <div class="swiper-slide" *ngFor="let story of regionStories$ | async" [innerHTML]="story?.content">
                  
                </div>  -->
                 
            </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev region"></div>
        <div class="swiper-button-next region"></div>
        </swiper>
    </div>
    
</section>

 <section class="travel-iniciative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-section">
                    <h2>
                        Iniciativas de turismo cultural<span>en cocinas tradicionales</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row"  *ngFor="let iniciative of regionIniciatives$ | async">
            <hr style="width: 100%;">
            <div class="col-lg-3">
                <div class="title-iniciative">
                   <div  [innerHTML]="iniciative?.summary"></div>
                </div>
            </div>
            <div class="col-lg-5">
                <p [innerHTML]="iniciative?.description">
                </p>
            </div>
            <div class="col-lg-4">
                <p [innerHTML]="iniciative?.contact">
                </p>
            </div>
        </div>
    </div>
</section> 

<section class="recepies-department bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-section">
                    <h2>
                        Recetas de<span>la región</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <app-catalog [regionId]="regionId"></app-catalog>
        </div>
    </div>
 
</section>
