
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$personal-site-primary: mat-palette($mat-indigo);
$personal-site-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$personal-site-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$personal-site-theme: mat-light-theme((
  color: (
    primary: $personal-site-primary,
    accent: $personal-site-accent,
    warn: $personal-site-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($personal-site-theme);

/* You can add global styles to this file, and also import other style files */

/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

*{
    font-family: 'Ubuntu', sans-serif;
}

input.ng-touched.ng-invalid{
    border-color: #dc3545;
}

input.ng-valid{
    border-color: white;
    border-radius: 0px 40px 40px 0px;
    padding: .7rem;
    height: auto;
}

.green-icon{
    color: #28a745;
}
.red-icon{
    color: #dc3545;
}

#toast-container > div {
    opacity:1;
}

table tr:hover{
    cursor: pointer;
    background-color: lightgreen;
}

.display-4 {
    color: white;
}

.login_btn{
    color: #000;
    background-color: #ffdf00;
    width: 120px;
    padding: 10px 15px;
    box-shadow: 0px 10px 30px -10px rgb(255 223 0 / 61%);
    margin: 10px;
    border-radius: 30px;
    border: none;
}

.login_btn:hover{
	background-color: #ffbc00;
}

.btn {
   //  width: 100%;
  }

.links{
color: white;
}


.c_checkbox {
    display: inline-block;
    align-items: center;
    padding: 3px 0;
    margin: 0 10px;
    cursor: pointer;
    input[type="checkbox"] {
        display: none;
        &:checked {
            &+.c_checkbox-toggle-view {
                left: calc(100% - 15px);
                background-color: green;
            }
        }
    }

    .c_checkbox-label {
        display: inline-block;
        font-weight: bolder;;
        vertical-align: middle;
        &__link {
            text-decoration: underline;
        }
        &__link:hover {
            text-decoration: none;
        }
    }
    .c_checkbox-toggle + .c_checkbox-label { margin-left: 5px; }
    .c_checkbox-label + .c_checkbox-toggle { margin-left: 5px; }

    .c_checkbox-toggle {
        position: relative;
        height: 7px;
        width: 35px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background: #fff;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 2px;
        &__disabled {
            opacity: 0.5;
        }
    }
    .c_checkbox-toggle-view {
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: red;
        border-radius: 50%;
        top: -5px;
        left: 0;
        transition: left 0.15s ease-in-out;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.close-button-modal {
    font-size:36px;
    color: blue;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 3;
  }


  
section.slider-stories{
	padding: 120px 30px;
	background-color: #5959D2;
}


section.slider-stories .title-section{
	color: white;
	margin-bottom: 30px;
}

section.slider-stories .story-container{
	max-width: 800px;
	height: 600px;
	margin: auto;
	position: relative;
}

section.slider-stories .story-container .author-pic{
	position: absolute;
	width: 304.22px;
	height: 454.94px;
	left: 70px;
	top: 0px;
	z-index: 1;
}

section.slider-stories .story-container .author-pic img{
	width: 100%;
}

section.slider-stories .story-container .author-text{
	position: absolute;
	z-index: 3;
	color: white;
	bottom: 180px;
	left: -20px;
}

section.slider-stories .story-container .author-text .region-text{
	position: absolute;
	bottom: -38px;
	right: -120px;
	z-index: 6;
	background: #FFDF00;
	border-radius: 3.70881px;
	transform: rotate(-2.21deg);
	padding: 15px 15px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 26.7034px;
	line-height: 18px;
	/* identical to box height, or 67% */

	text-align: center;
	letter-spacing: -0.04em;

	color: #2C2F47;
}

section.slider-stories .story-container .author-text h3{
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 54.7533px;
	line-height: 72%;
	/* or 48px */

	text-align: center;
	letter-spacing: -0.04em;

	color: #FFFFFF;

	text-shadow: 0px 4.40405px 52.8486px #000000;
}

section.slider-stories .story-container .author-text h3 .sp1{
	position: relative;
	left: -25px;
}

section.slider-stories .story-container .author-text h3 .sp2{
	position: relative;
	top: -5px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 30.7987px;
	line-height: 57%;
	/* identical to box height, or 27px */

	text-align: center;
	letter-spacing: -0.04em;
}

section.slider-stories .story-container .author-text h3 .sp3{
	position: relative;
	left: 45px;
}

section.slider-stories .story-container .author-bg{
	position: absolute;
	width: 375.28px;
	height: 268.91px;
	left: 0px;
	top: 111.27px;
	background: url(/assets/imgs/stories-components/bg-author.png);
}

section.slider-stories .story-container .video-bg{
	position: absolute;
	width: 647.25px;
	height: 383.23px;
	left: 200.06px;
	top: 11.11px;
	background: url(/assets/imgs/stories-components/video-bg.png);
}

section.slider-stories .story-container iframe.video-story{
	position: absolute;
	z-index: 2;
	width: 420px;
	height: 252px;
	left: 280.06px;
	top: 123px;
}



section.recepies-department{
	padding: 20px 30px;
	height: auto;
}

section.recepies-department .title-section {
	color: white;
	margin-bottom: 10px;
}



section.travel-iniciative{
	background-color: white;
	padding: 100px 20px;
}

section.travel-iniciative .title-section h2{
	width: 100%;
	max-width: 100%;
	text-align: left;
	font-size: 28px;
	line-height: 55px;
}

section.travel-iniciative .title-section h2 span{
	font-family: 'Ubuntu', sans-serif;
	transform: none;
	text-align: left;
	font-size: 28px;
	font-weight: bolder;
}

.title-iniciative h4::before{font-family: "Font Awesome 5 Free"; font-weight: 900; padding-right: 10px;}
.title-iniciative h5{ opacity: .5; }
.title-iniciative h5::before{font-family: "Font Awesome 5 Free"; content: "\f072"; font-weight: 900; padding-right: 10px;}



@media (max-width: 1000px) {
	.section-map{
		padding: 60px 0px 120px;
	}

	section.slider-stories .story-container{
		max-width: 800px;
		height: 800px;
		margin: auto;
		position: relative;
	}

	section.slider-stories .story-container .author-pic{
		position: absolute;
		width: 304.22px;
		height: 454.94px;
		left: 0px;
		top: 0px;
		z-index: 1;
	}

	section.slider-stories .story-container .author-pic img{
		width: 100%;
	}

	section.slider-stories .story-container .author-text{
		position: absolute;
		z-index: 3;
		color: white;
		bottom: 0px;
		top: 120px;
		right: -80px;
	}

	section.slider-stories .story-container .author-text .region-text{
		position: absolute;
		display: table;
		top: 120px;
		bottom: inherit;
		right: inherit;
		left: 40%;
		z-index: 6;
		background: #FFDF00;
		border-radius: 3.70881px;
		transform: rotate(-2.21deg);
		padding: 15px 15px;
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 26.7034px;
		line-height: 18px;
		/* identical to box height, or 67% */

		text-align: center;
		letter-spacing: -0.04em;

		color: #2C2F47;
	}

	section.slider-stories .story-container .author-text h3{
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 54.7533px;
		line-height: 72%;
		/* or 48px */

		text-align: center;
		letter-spacing: -0.04em;

		color: #FFFFFF;

		text-shadow: 0px 4.40405px 52.8486px #000000;
	}

	section.slider-stories .story-container .author-text h3 .sp1{
		position: relative;
		left: -25px;
	}

	section.slider-stories .story-container .author-text h3 .sp2{
		position: relative;
		top: -5px;
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 30.7987px;
		line-height: 57%;
		/* identical to box height, or 27px */

		text-align: center;
		letter-spacing: -0.04em;
	}

	section.slider-stories .story-container .author-text h3 .sp3{
		position: relative;
		left: 45px;
	}

	section.slider-stories .story-container .author-bg{
		position: absolute;
		width: 375.28px;
		height: 268.91px;
		left: 0px;
		top: 111.27px;
		background: url(/assets/imgs/stories-components/bg-author.png);
	}

	section.slider-stories .story-container .video-bg{
		position: absolute;
		width: 647.25px;
		height: 383.23px;
		left: 0px;
		top: 21.11px;
		background: url(/assets/imgs/stories-components/video-bg.png);
	}

	section.slider-stories .story-container iframe.video-story{
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 252px;
		left: 0;
		top: 323px;
	}
}


@media (max-width: 600px) {

    .body-menu-mobile-active{
        top: 210px;
        position: relative;
	}
}