/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

input.ng-touched.ng-invalid{
    border-color: #dc3545;
}

input.ng-valid{
    border-color: white;
    border-radius: 0px 40px 40px 0px;
    padding: .7rem;
    height: auto;
}

.green-icon{
    color: #28a745;
}
.red-icon{
    color: #dc3545;
}

#toast-container > div {
    opacity:1;
}

table tr:hover{
    cursor: pointer;
    background-color: lightgreen;
}