
.jw-modal{
  z-index: 10002;
}

.jw-modal-body{
  margin-top: 100px;
}

.jw-modal-background{
  z-index: 10001;
}


.btn-gh-secondary{
	background-color: #5959D2;
    box-shadow: 0px 6px 17px -10px rgba(0,0,0,0.5);
    padding: 10px 20px;
    letter-spacing: 2px;
    font-size: .81rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0px 0 0 0;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-gh-secondary:hover {
    background: #4444FF;
}
a.btn-gh-secondary {
    text-decoration: none;
    color: #fff;
}

.section-container{
  background: url('/assets/bg-catalog.jpg') top center repeat-y;
  background-size: 100% auto;
  min-height: 100vh;
  padding: 100px 0px;
}

.section-container .container{
 // margin-top: 20px;
}

.blog .card {
  
    border-radius: 0;
    border: 0;
    background: rgba(255,255,255,0.06);
  
    transition: background 0.25s;
    cursor: pointer;
  }
  .blog .card:hover {
    background: rgba(255,255,255,0.1);
    transition: background 0.25s;
  }
  
  .blog .card .card-block {
    padding: 1.1rem;
    min-height: 160px;
  }
  .blog .card .card-block .category {
      color: #dd0042;
      text-transform: uppercase;
      margin-bottom: 0.4rem;
      background-color: #189cd5;
      color: #fff;
      font-weight: 500;
      line-height: 100%;
      font-size: 12px;
      width: fit-content;
      padding: 4px 8px 2px;
      letter-spacing: 0.06rem;
  }
  .blog .card .card-block .card-title {
      color: #fff;
      font-size: 19px;
      line-height: 1.8rem;
      margin-bottom: 0.4rem;
  }
  
  .size {
      padding: 10px;
  }

  .checked, .price span {
    color: #ff9f1a;
}

.mainimg {
  height: 100%;
  width: 100%;
}

.back {
  font-size:36px;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 3;
}

.details, .preparation{
  padding: 40px;
}

.card{
  border: none !important;
}

.card-content {
	background: #fff;
    border: 4px;
    box-shadow: 0 46px 48px -35px rgb(0 0 0 / 97%);
    border-radius: 10px;
    overflow: hidden;
    width: 260px;
}



.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-30%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}

.fa-color {
  color: #5959D2;
}

.title-content-preparation{
  padding: 5px 0px 5px 60px;
  background-size: contain !important;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27.7578px;
  line-height: 35px;
  /* identical to box height, or 125% */


  color: #393D5E;
}

.title-content-preparation.food{
  background: url('/assets/imgs/icons/food.png') no-repeat center left;
}
.title-content-preparation.tools{
  background: url('/assets/imgs/icons/kitchen-utensils.png') no-repeat center left;
}
.title-content-preparation.preparation{
  background: url('/assets/imgs/icons/preparation.png') no-repeat center left;
}

.p-content-preparation{
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 31px;
  /* or 195% */


  color: #697978;
}

.product-title {
	font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27.7578px;
  line-height: 35px;
  /* identical to box height, or 125% */


  color: #FFFFFF;
}

.product-title span{
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15.2668px;
  line-height: 18px;

  color: #FFFFFF;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color: #1abc9c;
    box-shadow: 0px 6px 17px -10px rgba(0,0,0,0.5);
    padding: 10px 20px;
    letter-spacing: 2px;
    font-size: .81rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}

.star-rating__stars {
  position: relative;
  height: 1.5rem;
  width: 7.5rem;
  background: url(/assets/off.svg);
  background-size: 1.5rem 1.5rem;
}

.star-rating__label {
  position: absolute;
  height: 100%;
  background-size: 1.5rem 1.5rem;
}

.star-rating__input {
  margin: 0;
  position: absolute;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.star-rating__stars .star-rating__label:nth-of-type(1) {
  z-index: 5;
  width: 20%;
}

.star-rating__stars .star-rating__label:nth-of-type(2) {
  z-index: 4;
  width: 40%;
}

.star-rating__stars .star-rating__label:nth-of-type(3) {
  z-index: 3;
  width: 60%;
}

.star-rating__stars .star-rating__label:nth-of-type(4) {
  z-index: 2;
  width: 80%;
}

.star-rating__stars .star-rating__label:nth-of-type(5) {
  z-index: 1;
  width: 100%;
}

.star-rating__input:checked + .star-rating__label,
.star-rating__input:focus + .star-rating__label,
.star-rating__label:hover {
  background-image: url('/assets/on.svg');
}

.star-rating__label:hover ~ .star-rating__label {
  background-image: url('/assets/off.svg');
}

.star-rating__input:focus ~ .star-rating__focus {
  position: absolute;
  top: -.25em;
  right: -.25em;
  bottom: -.25em;
  left: -.25em;
  outline: 0.25rem solid lightblue;
}



.header-recepie-container{
  position: relative;
}



.header-recepie-card{
  width: 100%;
  height: auto;
  padding: 50px 0px;
  overflow: hidden;
  position: relative;
  background-color: rgba(0,0,0,1);
}

.header-recepie-card img{
  width: 100%;
  height: auto;
  opacity: 0.7;
  position: absolute;
  left: 0px;
  top: 0px;
}


.header-preparation{
  width: 100%;
  height: auto;
  padding: 100px 40px 30px;
  overflow: hidden;
  position: relative;
  background-color: rgba(0,0,0,1);
}

.header-preparation .overlay-header{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,1) 100%);
  z-index: 2;
}

.header-preparation img{
  width: 100%;
  height: auto;
  opacity: 0.7;
  position: absolute;
  left: 0px;
  top: 0px;
}
.header-preparation .content-header-preparation{
  position: relative;
  z-index: 10;
  color: white;
}

.title-autor-preparation, .title-region-preparation{
  padding: 5px 0px 5px 35px;
  background-size: contain !important;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;

  color: #FFFFFF;
}

.title-autor-preparation{
  background: url('/assets/imgs/icons/chef.png') no-repeat center left;
}

.title-region-preparation{
  background: url('/assets/imgs/icons/place.png') no-repeat center left;
}


.nav-recepie{
  margin-bottom: 16px;
}


.star-rating__title{
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;

  color: #FFFFFF;
}

.descr-region{
  padding: 5px 15px;

  background: #626284;
  border-radius: 2px;
  color: white;
  display: table;
  position: relative;
  right: 0px;
  margin-top: -15px;
  z-index: 5;
  float: right;
}

.descr-region h5{
  margin: 0;
  padding: 0;
  width: auto;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */


  color: #FFFFFF;
}

.title-recepie{
  position: relative;
  z-index: 10;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 35px;
  text-align: center;

  color: #FFFFFF;
}

.title-recepie span{
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.prep-title{
  margin: 0px 0px 8px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 21px;
  /* or 107% */


  /* Heading text */

  color: #081F32;
}

.preparation-title{
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27.7578px;
  line-height: 35px;
  margin-bottom: 8px;
  /* identical to box height, or 125% */


  color: #393D5E;
}

.description-title{
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 31px;
  /* identical to box height, or 195% */


  color: #697978;
}

.autor-title{
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */


  color: #6262BB;
}

.texture-gastroh{
  width: 100%;
  height: 75px;
  background: url('/assets/imgs/texture-gastroh.png') no-repeat top center;
  background-size: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 10;
}

.btn-prep{
  margin:0px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  /* identical to box height */

  text-align: center;
  text-transform: none;

  color: #FFFFFF;
}