<div class="section-container">
    <div class="container" [style.marginTop.px]="50">
        <div class="row nav-recepie">
            <div class="col-md-2">
                <button (click)="onBack()" class="btn-gh-secondary">Volver</button>
            </div>
        </div>
        <div class="card">
            <div class="container-fliud">
                <div class="row">
                    <div class="col-lg-12 header-recepie-container">
                        <div class="header-recepie-card active" id="pic-{{card.id}}">
                            <h3 class="title-recepie"><span>Receta:</span><br>{{ card.name }}</h3>
                            <img [src]="card.imageUrl" class="mainimg" />
                        </div>
                        <div class="texture-gastroh"></div>
                    </div>
                </div>
                <div class="wrapper row">
                    <div class="details col-md-12">
                        <div class="container" *ngIf="card.preparations">
                            <div class="row">
                                <div class="col-12 ">
                                    <h3 class="preparation-title text-left">Preparaciones</h3>
                                    <h4 class="preparation-description">Descubre todas las <b>preparaciones únicas de
                                            las cocinas colombianas</b> basadas en esta receta.</h4>
                                  <div class="preps">
                                    <div class="card-content" *ngFor="let prep of card.preparations"
                                        (click)="onModalOpen(prep)" [style.cursor]="'pointer'">
                                        <div class="card-img">
                                            <img [src]="prep.imageUrl" alt="">

                                        </div>
                                        <div class="descr-region">
                                            <h5><b>Región: </b>{{ prep.region?.name }} ({{ prep.city?.name }})</h5>
                                        </div>
                                        <div class="card-desc">
                                            <div class="stars">
                                                <span class="fa fa-star checked fa-color">{{ prep.rating }}</span>
                                                <span class="review-no" style="padding: 10px;"> Valoración</span>
                                            </div>
                                            <h3 class="prep-title">{{ prep.name }}</h3>
                                            <h5 class="autor-title">Autor:
                                                {{ prep.author?.name  + ' ' + prep.author?.lastName}}</h5>
                                            <button class="btn-gh-secondary btn-prep">Ver Preparación</button>
                                        </div>
                                    </div>
                                </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-jwmodal id="custom-modal-1">
        <app-detail-prep-card *ngIf="prep" [prep]="prep" [userId]="userId"  (ratePreparation)="onComment($event)"  (closeButton)="onCloseModal('custom-modal-1')"></app-detail-prep-card>
</app-jwmodal>