<div class="section-container">
    <div class="container" [style.marginTop.px]="50">
        <div class="row nav-recepie">
            <div class="col-md-2">
                <button (click)="onBack()" class="btn-gh-secondary">Volver</button>
            </div>
        </div>
        <div class="card">
            <div class="container-fliud">
                <div class="row">
                    <div class="col-lg-12 header-recepie-container">
                        <div class="header-recepie-card active" id="pic-{{card.id}}">
                            <h3 class="title-recepie"><span>Receta:</span><br>{{ card.name }}</h3>
                            <img [src]="card.imageUrl" class="mainimg"/>
                        </div>
                        <div class="texture-gastroh"></div>
                    </div>
                </div>
                <div class="wrapper row">
                    <div class="details col-md-12">
                        <div class="container" *ngIf="card.preparations">
                            <div class="row">
                                <div class="col-12 ">
                                    <h3 class="preparation-title text-left">Preparaciones</h3>
                                    <h4 class="preparation-description">Descubre todas las <b>preparaciones únicas de las cocinas colombianas</b> basadas en esta receta.</h4>

                                    <div class="card-content" *ngFor="let prep of card.preparations"
                                        (click)="onModalOpen(prep)" [style.cursor]="'pointer'">
                                        <div class="card-img">
                                            <img [src]="prep.imageUrl" alt="">
                                            
                                        </div>
                                        <div class="descr-region">
                                            <h5><b>Región: </b>{{ prep.region?.name }}</h5>
                                        </div>
                                        <div class="card-desc">
                                            <div  class="stars">
                                                <span class="fa fa-star checked fa-color">{{ prep.raiting }}</span>
                                                <span  class="review-no" style="padding: 10px;"> ranking</span>
                                                </div>
                                            <h3 class="prep-title">{{ prep.name }}</h3>
                                            <h5 class="autor-title">Autor: {{ prep.author?.name  + ' ' + prep.author?.lastName}}</h5>
                                            <button class="btn-gh-secondary btn-prep">Ver Preparación</button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-jwmodal id="custom-modal-1">
    <ng-container *ngIf="modInfo">
    <div class="header-preparation">
        <i class='fas fa-times-circle back' title="Volver" (click)="onCloseModal('custom-modal-1')"></i>
        <div class="overlay-header"></div>
        <div id="pic-{{card.id}}"><img [src]="modInfo.modImage" class="mainimg"/></div>
        <div class="content-header-preparation">
            <h3 class="product-title"><span>Preparación:</span><br/>{{ modInfo.modName }}</h3> 
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <h5 class="title-autor-preparation">Autor: 
                            <app-avatar  [avatarName]="modInfo.modAuthor" [avatarImage]="modInfo.modAuthor_imageUrl" *ngIf="modInfo.modAuthor_imageUrl"></app-avatar>
                           <span *ngIf="!modInfo.modAuthor_imageUrl"> {{ modInfo.modAuthor }}</span>
                        </h5>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="title-region-preparation">Región: {{ modInfo.modRegion }}</h5>
                    </div>
                    <div class="col-lg-4">
                        <fieldset class="star-rating">
                            <legend class="star-rating__title">Valoración:</legend>
                            <div class="star-rating__stars">
                              <input class="star-rating__input" type="radio" name="rating" value="1" id="rating-1" />
                              <label class="star-rating__label" for="rating-1" aria-label="One"></label>
                              <input class="star-rating__input" type="radio" name="rating" value="2" id="rating-2" />
                              <label class="star-rating__label" for="rating-2" aria-label="Two"></label>
                              <input class="star-rating__input" type="radio" name="rating" value="3" id="rating-3" />
                              <label class="star-rating__label" for="rating-3" aria-label="Three"></label>
                              <input class="star-rating__input" type="radio" name="rating" value="4" id="rating-4" />
                              <label class="star-rating__label" for="rating-4" aria-label="Four"></label>
                              <input class="star-rating__input" type="radio" name="rating" value="5" id="rating-5" />
                              <label class="star-rating__label" for="rating-5" aria-label="Five"></label>
                              <div class="star-rating__focus"></div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            
            

            <!-- <div class="rating">
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="review-no">{{modRating }} rating</span>
                </div>

            </div> -->
            
        </div>
    </div>
    <div class="container" [style.marginTop.px]="0">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="details col-md-6">
                        <div class="container" *ngIf="modInfo.modIngredients">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="title-content-preparation food text-left">Ingredientes</h3>
                                    <hr class="mx-auto">
                               



                                <div class="card-content" *ngFor="let ing of modInfo.modIngredients">
                                   
                                    <div class="card-desc">
                                        <h5>{{ ing }}</h5>
                                    </div>
                                </div>
                            </div>


                            </div>
                        </div>
                        <br>
                        <div class="container" *ngIf="modInfo.modTools">
                            <div class="row">
                                <div class="col-12 ">
                                    <h3 class="title-content-preparation tools text-left">Herramientas</h3>
                                    <hr class="mx-auto">
                               



                                <div class="card-content" *ngFor="let tool of modInfo.modTools">
                                   
                                    <div class="card-desc">
                                        <h5>{{ tool }}</h5>
                                    </div>
                                </div>
                            </div>


                            </div>
                        </div>
                        
                    </div>
                    <div class="preparation col-md-6">
                        <h3 class="title-content-preparation preparation text-left">Preparación</h3>
                        <p class="p-content-preparation">
                            {{ modInfo.modSteps }}    
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </ng-container>
</app-jwmodal>