
<section class="intro-department big-pic">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 text-center">
                <div class="img-department">
                    <img src="assets/imgs/regions/andes.png" alt="">
                </div>
            </div>
            <div class="col-lg-7">
                <a class="btn-gastro" routerLink="/virtual-map">Volver</a>
                <div class="title-section">
                    <h2>
                        Bienvenido a la magia de la <span>Región Andina</span>
                    </h2>
                    <p>
                        Desde el sur occidente de Colombia, hasta la frontera con Venezuela al nororiente del país, se encuentran las preparaciones reconocidas en el país como las arepas, el sancocho, el ajiaco, la bandeja paisa, los tamales, la lechona, el bocadillo, las almojábanas entre otros.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="divider-paper-white"></div>
<section class="imgs-department">
    <!-- Slider main container -->
    <div class="swiper-container imgsdepartment">
        <!-- Additional required wrapper -->
        <swiper [config]="config">

            <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-01.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-02.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-03.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-01.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-02.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/imgs/imgdepartment-generic-03.jpg" alt="">
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev imgs"></div>
        <div class="swiper-button-next imgs"></div>
        </swiper>
    </div>
</section>
<section class="about-department">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="title">Acerca de</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>
                    <b>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</b>
                    <br><br>
                    Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                    <br><br>
                    Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
                </p>
            </div>
        </div>
    </div>
</section>
<div class="divider-paper-white"></div>
<section class="slider-stories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-section">
                    <h2>
                        El departamento y<span>sus historias</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider main container -->
    <div class="swiper-container storiesdepartment">
        <swiper #stories [config]="config" >

            
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper" >
            <div class="swiper-slide"></div>
            <!-- Slides -->
             <!-- <div class="swiper-slide" *ngFor="let story of regionStories$ | async" [innerHTML]="story?.content">
              
            </div>  -->
             
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev region"></div>
        <div class="swiper-button-next region"></div>
        </swiper>
    </div>
    
</section>

<section class="travel-iniciative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-section">
                    <h2>
                        Iniciativas de turismo cultural<span>en cocinas tradicionales</span>
                    </h2>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <div class="title-iniciative">
                    <h4>Comiendo a pie</h4>
                    <h5>Recorrido Cultural</h5>
                </div>
            </div>
            <div class="col-lg-5">
                <p>
                    Descubre Envigado a través de empanadas y morcillas. Vive una experiencia recorriendo las calles de Envigado combinando comida y cultura. En esta experiencia se conecta la importancia de la empanada y morcilla en el territorio, al mismo tiempo que se vive la historia de sus espacios culturales y personajes más representativos del municipio.
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    304 5892903<br>
                    publicidad@elsabordemitierracolombia.com<br>
                    <b>Envigado</b>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="recepies-department bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-section">
                    <h2>
                        Recetas de<span>la región</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <app-catalog [regionId]="2"></app-catalog>
        </div>
    </div>
 
</section>
